<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Emp_ID:</strong>
    <%= employee.emp_id %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employee.age %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= employee.designation %>
  </p>

  <p>
    <strong>Mail_ID:</strong>
    <%= employee.mail_id %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= employee.mobile %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employee.address %>
  </p>

</div>
