<!DOCTYPE html>
<html>
  <head>
    <title>Employees</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
    <style>

    h1 {
      text-align: center;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(odd){
    background-color: #f2f2f2;
    }
  th {
    background-color: #04AA6D;
    color: white;
  }
  </style>
  
  
    </head>

  <body>
    <%= yield %>
  </body>
</html>
